<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App Developers - Fall 2019</h1>
      <br />
      <hr>

      <!-- <h1 class="text-center">COMING SOON!</h1> -->
      <h3>During Instructors, test api here.</h3>
      <br />
      <br />
      <br />
      <h4>Instructor: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/instructor/findall">http://localhost:3004/instructor/findall</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/8">http://localhost:3004/instructor/findone/8</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/7">http://localhost:3004/instructor/findone/7</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/9">http://localhost:3004/instructor/findone/9</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/10">http://localhost:3004/instructor/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>instructor: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/instructor">http://localhost:3004/instructor</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/create">http://localhost:3004/instructor/create</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/edit/8">http://localhost:3004/instructor/edit/8</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/delete/7">http://localhost:3004/instructor/delete/7</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/details/6">http://localhost:3004/instructor/details/6</a>
        </li>
      </ol>


    </div>
  </div>
</main>
<hr>-->

</div>
</div>
</div>